*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:url("image/bg.jpg");
    background: linear-gradient(-135deg,#c850c0,#4158d0);
  }
  #div1{
    background: white;
    text-align: center;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
    border-radius: 10px;
  }
  #div1 .input-data{
    margin-top:20px;
    height: 40px;
    width: 100%;
    position: relative;
  }
  #div1 .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid red;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
  }
  #div1 .input-data label{
    position: absolute;
    bottom: 15px;
    left: 0;
    color: grey;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  .log-btn{
    margin-top:20px;
    margin-bottom:20px;
  }
  .btn{
    width: 100%;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
    border: none;
    border-radius: 20px;
    color: white;
    padding:7px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
    cursor: pointer;
  }