 html {
            scroll-behavior: smooth;
        }
        *{
            margin:0;
            padding:0;
            box-sizing: border-box ;
        }
        /* HEADER START */
        .start-container{
            background-image: url('{% static 'images/restaurant.jpg' %}');
            background-size:cover;
            background-repeat:no-repeat;
            background-position: center;
            height:100vh;
            width:100%;
        }  
        header .logo h1{
            font-family:'pacifico',cursive;
            font-size:25px;
            color:white;
            padding:20px;
        }
        header ul{
            background-color:black;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:black;
            text-align:center;
            height:70px;
        }
        header ul li{
            display:inline-block;
            text-align: center;
            padding-top:20px;
        }
        header ul li a{
            color:white;
            padding:15px;
            transition:0.2s;
            text-decoration:none !important;
        }
        header ul li a:hover{
            color:rgb(236, 120, 36);
            transition-delay: 0.2s;
        }
        header ul li a.active{
            border-bottom: 1px solid green;;
        }
        header .book-btn button{
            display: inline-block;
            padding: 7px 28px;
            border-radius: 50px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 400;
            color: #ff6426;
            outline: none;
            transition: 0.5s;
            border: none;
            cursor: pointer;
            }
        header .book-btn button:hover{
            background-color: #ff6426;
            color:white;
            transition-delay: 0.2s;
        }
        /* HEADER ENDS */

        /*START-CONTAINER*/
        section{
           background-repeat: no-repeat;
           background-size:cover;
           background-position: center;
           height:100vh;
        }
        /*START-CONTAINER*/

        /* ABOUT START */
        .about{
            padding: 60px;
            width: 100%;
            background: #fff;
            margin: 0 auto 0 auto;
            z-index: 99;
            position: relative;
            background: white;
            text-align: center;
        }
         .about-heading{
            font-size: 32px;
            font-weight: 900;
            width: 100px;
            text-align:center;
            border: 1px solid #2f2e2f;
            font-family: "museo-sans", helvetica, sans-serif;
            color: #2f2e2f;
            padding:7px 16px
            margin:auto;
         }
         .desc-about{
            font-size: 20px;
            line-height: 35px;
            text-align: justify;
         }
         .about-img img{
            margin-top:3px;
         }
        /* ABOUT END */

        /*PRICING START*/
        .bg-pricing{
            background-image: url('{% static 'images/Pricing/pricing.jpg'%}');
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
            background-attachment: fixed;
            width: 100%;
            height: 570px;
            position: relative;
            top: 0px;
            text-align: center;
            margin: 0 auto 0 auto;
            color:white;
        }
        .bg-pricing h1{
            font-size: 4.5em;
            position: relative;
            top: 41%;
            width: 100%;
            color: white;
        }
        .bg-pricing h1 span{
            color:white;
            padding:0;
            border-bottom:10px solid #fff;
        }
        /*PRICING END*/

        /* MENU START */
        .menu ul li a{
            color:#000000;
            font:20px sans-serif;
            padding:6px 10px;
            margin:0px 15px 0px 0px;
            font-weight: bold;
        }
        .menu ul li a.active1{
            border-bottom:1px solid black;
        }
        /* MENU END */

        /* Beer Start */
        .beer-heading{
            font-size: 32px;
            font-weight: 900;
            width: 200px;
            text-align:center;
            border: 1px solid #2f2e2f;
            font-family: "museo-sans", helvetica, sans-serif;
            color: #2f2e2f;
            margin:auto;
        }
        /* Beer End */

        /* Breakfast Start */
        .breakfast-bg{
            background-attachment:fixed;
            background-size:cover;
            background-repeat:no-repeat;
        }
        /*Breakfast End */

        /*featured start */
        .featured-menu{
            background-attachment:fixed;
            background-size:cover;
            background-repeat:no-repeat;
        }
        /*featured End */