{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Document</title>
    <style>
        table.center {
            margin-left: auto; 
            margin-right: auto;
          }
    </style>
</head>
<body>

<!-- HEADER START -->
<header>
  <ul class="fixed-top navbar-expend-lg">
      <div class="logo">
          <h1>RESTAURANT</h1>
      </div>     
  </ul>
</header>
 
<div class="container" style="margin-top:150px;">
    <div class="col-md-4 checkout-left-basket">
  
        <table class="table center table-bordered" style="margin-left:400px;">
            <thead>
                <th>Product Name</th>
                <th>amount</th>
            </thead>
            {% for q in al %}
            <tr>
                
                <td>{{q.name}}</td>
                <td>{{q.price}}</td>
                
            </tr>
            {% endfor %}
            <tr>
               <td> <strong>Total amount:</strong></td>
                <td><strong>{{total}}</strong></td>
            </tr>
  
        </table>
    </div>
    <form class="text-center border border-light p-5" method="POST">
        {% csrf_token %}

        <!-- RAZORPAY INTEGRATION HERE -->
        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_KBKE2eLQ5xr4ss"
            data-amount="{{pay}}" data-currency="INR" data-order_id="{{payment.id}}" data-buttontext="Pay with Razorpay"
            data-name="Professional Cipher" data-description="Django and Data Science"
            data-image="{% static 'images/admin/uv.webp'%}" data-prefill.name="PC" data-prefill.email="pc@studygyaan.com"
            data-theme.color="#549ef3"></script>
    </form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>