{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Document</title>
    <style>
    </style>
</head>
<body>

<!-- HEADER START -->
<header>
  <ul class="fixed-top navbar-expend-lg nav">
      <div class="logo">
          <h1>RESTAURANT</h1>
      </div>
      <div class="myDIV">
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'index' %}">ABOUT</a></li>
        <li><a href="{% url 'index' %}">PRICING</a></li>
        <li><a href="{% url 'index' %}">MENU</a></li>
        <li><a href="{% url 'index' %}">CONTACT</a></li>
        <li><a href="{% url 'order' %}">ORDER</a></li>
      </div>
      <div class="book-btn" style="float:right;padding-top:15px;">
         <a href="{% url 'book' %}"><button type="button">Book A Table</button></a>
      </div>
      <div class="book-btn mt-1" style="float:right;padding-top:15px;">
        <a href="{% url 'showmycart'%}" type="button" class="btn btn-primary fa fa-cart-plus ">
        </a>
      </div>
      <div class="dropdown">
        <a href="#" class="btn mt-3" data-toggle="dropdown">
          <i class="fa fa-user text-white" style="font-size:25px;"></i>
        </a>
        <div class="dropdown-menu text-dark" style="width:350px; min-height:150px; margin-top:13px; margin-left:-230px">
               <h4 class="text-primary text-center">Welcome {{per.username}}</h4>
               <hr>
            <div class="card-body">
              <p>Name:{{per.username}}</p>
              <p>Email:{{per.email}}</p>
              <p>Phone:{{per.phone}}</p>
            </div>
            <div class="book-btn" style="padding-top:15px;margin-left:20px;">
              <a href="{% url 'logout' %}"><button type="button">Logout</button></a>
           </div><hr>
            <div class="text-center">
                <a href="{% url 'editprofile'%}" class="card-link text-center text-dark d-block" style="text-decoration:none;">Edit Profile<i class="fa fa-cog ml-2"></i></a>
            </div>
        </div>
      </div>
      
    </ul>
</header>
<!-- HEADER START -->
<header class="header-bg" id="home" style="background-image:url('{% static 'images/restaurant.jpg'%}')"></header>
<!-- START-CONTAINER -->
<section class="start-container" style="background-image: url('{% static 'images/restaurant.jpg' %}')">

</section>
<!-- START-END -->

<!-- ABOUT START -->
<div>
<div class="container about" id="about1">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="about-heading">About Us</h1>
            <div class=""><i style="font-size:25px; padding-top:20px;" class="fa fa-cutlery"></i></div>
            <p class="desc-about">Restaurant is a place for simplicity. Good food, good beer, and good service. Simple is the name of the game, and we’re good at finding it in all the right places, even in your dining experience. We’re a small group from Denver, Colorado who make simple food possible. Come join us and see what simplicity tastes like.</p>
        </div>
        <div class="col-md-6 text-center about-img">
            <img src="{%static 'images/About/img1.jpg' %}" width="200" height="220">
            <img src="{%static 'images/About/img2.jpg' %}" width="200" height="220">
            <img src="{%static 'images/About/img3.jpg' %}" width="200" height="220">
            <img src="{%static 'images/About/img4.jpg' %}" width="200" height="220">
        </div>
    </div>
</div>

<!-- ABOUT END -->

<!--PRICING START-->
<section class="bg-pricing" id="pricing1" style="background-image:url('{% static 'images/Pricing/pricing.jpg' %}')">
    <h1><span>Affordable </span>Pricing</h1>
</section>

<!--PRICING END-->

<!-- MENU START -->
<div class="container mt-5 menu" id="menu">
    <ul class="navbar nav justify-content-center">
      


        {% for c in cat %}
				
				<ul >
					<li style="list-style-type: none;"><a data-toggle="collapse" href="#" aria-expanded="false">
            <span class="lnr lnr-arrow-right"></span><a href="/catwise/{{ c.name }}/">{{ c }}</a><span class="number"></span></a>
					</li>
				</ul>
      {% endfor %}  
          <li>
          <form method="GET" class="form-inline ml-5">
           <input type="text" name="search" class="form-control" placeholder="Search">
           <button type="submit" class="ml-3 fa fa-search" style="border:none;"></button>
          </form>
          </li>         
      </ul> 
            
      {% comment %} <div class="card-deck mt-4">
             {% for i in pro %}
               <div class="card" style="width: 13rem;height:320px;">
                  <img class="card-img-top img-fluid" style="height:200px;width: 13rem;"  src="{{ i.images.url }}" alt="Card image cap">
                  <div class="card-body ml-0 border-primary">
                    <p class="card-title mb-0 text-left" style="font-weight:700">{{i}}</p>
                    <p class="text-capitalize">{{i.des}}</p>
                    <a href="#" style="color:green;font-weight:700;font-size:20px;text-decoration:none;" class="mb-0">From ₹{{i.price}}</a>
                  </div>
               </div>
             {% endfor %}
            </div> {% endcomment %}
            <div class="card-deck mt-4">
             {% for i in pro %}
             <a class="menu-card" href="{% url 'productview' i.id %}" style="text-decoration:none;">
                <div class="card" style="max-width: 25%;min-height:320px;">
                  <img class="card-img-top img-fluid" style="height:200px;" src="{{i.images.url}}" alt="Card image cap">
                  <div class="card-body ml-0 border-primary">
                    <p class="card-title text-dark mb-0 text-left" style="font-weight:700;text-decoration:none;">{{i.name}}</p>
                    <p class="text-capitalize text-secondary text-decoration-none">{{i.des}}</p>
                    <a href="" class="btn btn-success">Add To Cart</a>
                  </div>
                </div>
             {% endfor %}
              </a>
            </div>
</div>
<!-- MENU END -->

<!-- beer start-->

<section class="mt-5 beer-section" style="background-image:url('{% static 'images/Beer/beer.jpg'%}');height:80vh;">

</section>

<div class="container about mb-5">
  <div class="row">
      <div class="col-md-6 text-center about-img">
            <img src="{%static 'images/Beer/beer_spec.jpg' %}" class="img-fluid" width="100%" height="220">
      </div>
     <div class="col-md-6">
        <h1 class="about-heading">OUR BEER</h1>
        <div class=""><i style="font-size:25px; padding-top:20px;" class="fa fa-beer"></i></div>
        <p class="desc-about">Here at Restaurant we’re all about the love of beer. New and bold flavors enter our doors every week, and we can’t help but show them off. While we enjoy the classics, we’re always passionate about discovering something new, so stop by and experience our craft at its best.</p>
     </div>
  </div>
</div>

<!-- beer end-->

<!--Breakfast Menu Start-->

<section class="breakfast-bg" style="background-image:url('{% static 'images/Breakfast/breakfast.jpg' %}')"> 
</section>

<div class="container about mb-5">
  <div class="row">
  <div class="col-md-6">
        <h1 class="about-heading">OUR BREAD</h1>
        <div class=""><i style="font-size:25px; padding-top:20px;" class="fa fa-bread"></i></div>
        <p class="desc-about">Here at Restaurant we’re all about the love of beer. New and bold flavors enter our doors every week, and we can’t help but show them off. While we enjoy the classics, we’re always passionate about discovering something new, so stop by and experience our craft at its best.</p>
     </div>
      <div class="col-md-6 text-center about-img" style="padding-top:100px;">
            <img src="{%static 'images/Bread/bread1.jpg' %}" class="img-fluid" width="200" height="220">
            <img src="{%static 'images/Bread/bread1.jpg' %}" class="img-fluid" width="200" height="220">
      </div>
  </div>
</div>

<!--Breakfast Menu End-->

<!--Featured Menu Start-->

<section class="featured-menu" style="background-image:url('{% static 'images/Featured/featured.jpg' %}')">
</section>

<div class="container featured mb-5">
  <div class="row">
  <div class="col-md-6 mt-5">
        <h1 class="featured-heading">Have A Look To Our Dishes!</h1>
        <div class=""><i style="font-size:25px; padding-top:20px;" class="fa fa-hotdog"></i></div>
        <p class="desc-about">Each food is handmade at the crack of dawn, using only the simplest of ingredients to bring out smells and flavors that beckon the whole block. Stop by anytime and experience simplicity at its finest.</p>
     </div>
      <div class="col-md-6 text-center featured-img mt-0 " style="padding-top:100px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{%static 'images/Featured/slider1.jpg' %}" alt="First slide" width="200" height="300">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{%static 'images/Featured/slider2.jpg' %}" alt="Second slide" width="200" height="300">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{%static 'images/Featured/slider3.jpg' %}" alt="Third slide" width="200" height="300">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
      </div>
  </div>
</div>

<!--Featured Menu Start-->

<!--Book a table start-->

<section class="featured-menu" style="background-image:url('{% static 'images/Featured/featured.jpg' %}')">
<h1 class="featured-bg-text">Book A Table</h1>
</section>

<div class="container mt-5 Book mb-5">
<form>
  <div class="row">
    <div class="col-md-4">
        <input type="text" name="first_name" id="first_name" required="required" class="form-input" placeholder="First Name">
        <input type="text" name="first_name" id="first_name" required="required" class="form-input" placeholder="Last Name">
        <input type="text" name="first_name" id="first_name" required="required" class="form-input" placeholder="State">
        <input type="date" name="first_name" id="first_name" required="required" class="form-input" placeholder="Book Date">
      </form>
    </div>
    <div class="col-md-4">
        <input type="tel" name="phone" class="form-input" placeholder="Phone" required>
        <input type="number" name="number" class="form-input" placeholder="Guest Number" required>
        <input type="Email" name="first_name" class="form-input" placeholder="Email" required>
        <input type="text" name="first_name" class="form-input" placeholder="Subject" required>
    </div>
    <div class="col-md-4 book-hours">
        <h5 class="mt-3 text-center" style="font-weight:bold;">Hours</h5>
        <hr>
        <p>Monday to Friday: 7:30 AM - 11:30 AM</p>
        <p>Saturday & Sunday: 8:00 AM - 9:00 AM</p>
        <p>Monday to Friday: 12:00 PM - 5:00 PM</p>
        <p>Monday to Saturday: 6:00 PM - 1:00 AM</p>
        <p>Sunday to Monday: 5:30 PM - 12:00 AM</p>
  </div>
  <dic class="col-md-12">
       <input type="submit" class="book-btn" value="Reserve">
  </div>
</form>
</div>
<!--Book a table end-->

<section class="social-bg mb-0">
   <div class="container">
     <div class="row">
       <div class="col-md-6">
         <span class="social-heading">FOLLOW</span>
         <ul>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
          <li><a href="#" class="fa fa-whatsapp"></a></li>
         </ul>
       </div>
       <div class="col-md-6">
          <span class="social-heading">OR DIAL</span>
          <ul>
          <li>
          <a href="#" class="">(+91)9054056443</a>
          </li>
          </ul>
       </div>
     </div>
   </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.678316292494!2d72.57694691428209!3d22.998853722986897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85a34e7c02af%3A0x30e43355dff19839!2sSunni%20Kalandari%20Masjid!5e0!3m2!1sen!2sin!4v1637335049734!5m2!1sen!2sin" style="width:100%;height:86vh;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<div class="container mt-5 mb-5 contact">
 <form>
  <div class="row">
    <div class="col-md-6">
      <input type="text" name="name" id="name" class="form-input" placeholder="Name" required>
      <input type="email" name="email" id="name" class="form-input" placeholder="Email" required>
      <input type="text" name="subject" id="name" class="form-input" placeholder="Subject" required>
    </div>
    <div class="col-md-6">
      <textarea name="message" id="message" style="height:218px;" class="form-input textarea" placeholder="Message"></textarea>
    </div>
    <div class="col-md-12 contact">
      <input type="submit" class="book-btn" value="Send Message">
    </div>
  </div>
 </form>
</div>

<footer class="footer">
        <h5 class="text-center"><span>M</span>ade <span>B</span>y <span>U</span>vesh <span>M</span>apara</h5>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
  // Add active class to the current button (highlight it)
  var selector = '.nav li a';

  $(selector).on('click', function(){
      $(selector).removeClass('active');
      $(this).addClass('active');
  });
  </script>
</body>
</html>